<h1>Past Announces</h1>

<%= form_for @search, :url => log_announce_path do |f| %>
	<%= f.label "Start Date" %>
	<%= f.date_select :stime_gte, :default => Date.yesterday %>
	<%= f.label "End Date"%>
	<%= f.date_select :etime_lte %></br>
	<%= f.submit "search" %>
<% end %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Status</th>
    <th>Title</th>
    <th>Name</th>
    <th>Tel</th>
    <th>Mail</th>
    <th>StartTime</th>
    <th>EndTime</th>
    <th>Device</th>
    <th>Message</th>
  </tr>

<% @announces.each do |announce| %>
  <tr>
    <td><%= announce.state.state %></td>
    <td><%= announce.title %></td>
    <td><%= announce.name %></td>
    <td><%= announce.tel %></td>
    <td><%= announce.mail %></td>
    <td><%= announce.stime.to_s(:simple) %></td>
    <td><%= announce.etime.to_s(:simple) %></td>
    <td><%= announce.device %></td>
    <td><%= announce.message %></td>
  </tr>
<% end %>
</table>

<%= paginate @announces %>
